<ion-view title="Bus" hide-nav-bar="true" id="page3">
    <ion-content padding="true" style="background: url(img/dNwOhe81Tn2E5XcRDi1C_unsplash_52d5c05422a47_1-604x270.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h3 id="bus-heading3" style="color:#FDF8F8;font-weight:400;text-align:center;">MMT Clone</h3>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <div id="bus-container9">
            <form id="bus-form11" class="list">
                <label class="item item-input rounded" id="bus-input8">
                    <span class="input-label">From</span>
                    <input type="text" placeholder="Type Departure City">
                </label>
                <div class="spacer" style="width: 300px; height: 17px;"></div>
                <label class="item item-input rounded" id="bus-input9">
                    <span class="input-label">To</span>
                    <input type="text" placeholder="Type Arrival City">
                </label>
                <div class="spacer" style="width: 300px; height: 18px;"></div>
            </form>
        </div>
        <div id="bus-container10">
            <form id="bus-form12" class="list">
                <label class="item item-input rounded" id="bus-input10">
                    <span class="input-label">Departure Date</span>
                    <input type="date" placeholder="">
                </label>
            </form>
        </div>
        <div class="spacer" style="width: 300px; height: 74px;"></div>
        <a ui-sref="tabsController.commonList" id="bus-button9" class="button button-positive  button-block icon-left ion-android-search rounded">Search</a>
    </ion-content>
</ion-view>