<ion-view title="Common List" id="page7" ng-controller="commonListCtrl as listCtrl">
    <ion-content padding="true" class="has-header" >
        <ion-list id="commonList-list2" ng-repeat="item in listCtrl.products">
            <ion-item ui-sref="tabsController.confirmBooking">    
                <!--<h2>{{item.name}}</h2>
                <div >
                  <img ng-src="{{item.image}}"/>
                </div>-->
                
                <div class="item item-avatar">
                        <h2> {{ item.name }} </h2>
                        <p> {{ item.price }} </p>
                    </div>
                    <div class="item item-body">
                        <img data-ng-if="item.image" data-ng-src="{{ item.image }}" alt="" class="full-image">            
                        <!--<p data-ng-bind-html="s.summary"></p>-->
                    </div>
                
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>