<ion-view title="Login" id="page9">
    <ion-content padding="true" style="background: url(img/NpoLZq5URdqcQeFjrrIQ_activity1320x742.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="login-container14">
            <form id="login-form17" class="list">
                <div id="login-container17">
                    <form id="login-form18" class="list">
                        <label class="item item-input rounded" id="login-input17">
                            <span class="input-label">Username</span>
                            <input type="text" placeholder="Username">
                        </label>
                        <div class="spacer" style="width: 300px; height: 11px;"></div>
                        <label class="item item-input rounded" id="login-input18">
                            <span class="input-label">Password</span>
                            <input type="password" placeholder="">
                        </label>
                    </form>
                </div>
                <div class="spacer" style="height: 40px;"></div>
                <button id="login-button11" class="button button-stable  button-block rounded">Log in</button>
                <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button12" class="button button-positive  button-block button-clear">Or create an account</a>
            </form>
        </div>
        <div id="login-container15">
            <div id="login-markdown3" style="color:#000000;text-align:center;">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <button id="login-button15" class="button button-positive  button-block rounded">Book Now</button>
        </div>
    </ion-content>
</ion-view>