<ion-view title="Train" hide-nav-bar="true" id="page4">
    <ion-content padding="true" style="background: url(img/Ac7dsoDmTiCnTNnSCcBG_dhr_4.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h3 id="train-heading5" style="color:#FDF8F8;font-weight:400;text-align:center;">MMT Clone</h3>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <div id="train-container11">
            <form id="train-form13" class="list">
                <label class="item item-input rounded" id="train-input11">
                    <span class="input-label">From</span>
                    <input type="text" placeholder="Type Departure City">
                </label>
                <div class="spacer" style="width: 300px; height: 15px;"></div>
                <label class="item item-input rounded" id="train-input13">
                    <span class="input-label">To</span>
                    <input type="text" placeholder="Type Destination City">
                </label>
            </form>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div id="train-container12">
            <form id="train-form15" class="list">
                <label class="item item-input rounded" id="train-input14">
                    <span class="input-label">Departure</span>
                    <input type="date" placeholder="">
                </label>
            </form>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <div id="train-container13">
            <form id="train-form16" class="list">
                <label class="item item-select rounded" id="train-select3">
                    <span class="input-label">Coach Type</span>
                    <select>
                        <option>Normal</option>
                        <option>Sleeper</option>
                        <option>Air Conditioned</option>
                    </select>
                </label>
            </form>
        </div>
        <a ui-sref="tabsController.commonList" id="train-button10" class="button button-positive  button-block icon-left ion-android-search rounded">Search</a>
    </ion-content>
</ion-view>